@charset "utf-8";
/* CSS Document */
/* フルードイメージ */
img{max-width: 100%;height:auto;}

/* 共通 */

/* 色番号 */
/* ベースカラー（ベージュ）：#FFF8F0
メインカラー（赤）：#E64C4C
アクセントカラー（黄）：#FDC865
文字色（黒）：#2C2929 */

/* フォント */
/* 日本語大見出し */
h1{
    color:#2C2929;
    font-family: "Shippori Mincho", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}
/* 日本語小見出し */
h2{
    color:#2C2929;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
/* 英語大見出し太字 */
h3{
    color:#2C2929;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}
/* 英語大見出し細字 */
h4{
    color:#2C2929;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}
/* 日本語本文 */
p{
    color:#2C2929;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
/* スクロール */
html {
    scroll-behavior: smooth;
}
/* 中央に揃える */
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFF8F0;
}
/* タイトル */
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.78%;
    margin: 5% 0;
}
/* 各ページ */
/*=================================
            TOP
=================================*/
/* ヘッダー */
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF8F0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 2%;
    z-index: 100;
    position: relative;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo img{
    height: 51px;
}
.header-menu{
    position: absolute;
    position: fixed;
    right: 2%;
    top: 5%;
    transform: translateY(-50%);
}
.menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    user-select: none;
    height: 16px;
}
.menu-text{
    color:#2C2929;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
}
.menu-lines{
    position: relative;
    width: 24px;
    height: 16px;
    flex-direction: column;
    justify-content: space-between;
}
.line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2C2929;
    border-radius: 2px;
}
.line1{
    top:0;
}
.line2{
    bottom: 0;
}
.menu-btn.active .line2{
    transform: rotate(-45deg);
    bottom: 6px;
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E64C4C;
    color: #FFF8F0;
    display: none;
    justify-content: center;
    flex-direction: column;
    z-index: 200;
    transition: opacity 0.4s ease;
}
.nav-overlay.active{
    display: flex;
}
.close-btn{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    user-select: none;
    z-index: 300;
}
.close-line{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2C2929;
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.close-line.line1{
    transform:translateY(-50%) rotate(45deg);
}
.close-line.line2{
    transform:translateY(-50%) rotate(-45deg);
}
.close-btn:hover .close-line{
    background-color: #FFF8F0;
}
.nav-content ul{
    list-style: none;
    text-align: right;
    margin-right: 60px;
    padding: 0;
    margin-bottom: 10%;
    margin-top: 0;
}
.nav-content li{
    color:#2C2929;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 3rem 0;
}
.nav-content ul a{
    text-decoration: none;
}
.nav-content li:hover{
    color: #FDC865;
    transition: color 0.3s ease;
}
#pattern-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
}
/* ONLINE SHOPボタン */
.fixed-shop-btn{
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 90px;
    height: 90px;
    background-color: #E64C4C;
    border: 8px solid #FDC865;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fixed-shop-btn h4{
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
}
/* 横切る文字 */
#top .scroll-area{
    width: 100%;
    height: 22vh;
    overflow: hidden;
    background-color: #FFF8F0;
    padding: 8px 0;
    margin-top: 3%;
}
#top .scroll-wrapper{
    display: flex;
    width: 200%;
    animation: scrollMove 30s linear infinite;
}
#top .scroll-track{
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}
#top .scroll-item{
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin: 0 1px;
    padding: 4px 12px;
    border: 1px solid #E64C4C;
    color: #E64C4C;
    background-color: transparent;
    white-space: nowrap;
    line-height: 1.4;
}
#top .scroll-item.fill{
    background-color: #E64C4C;
    color: #FFF8F0;
}
#top .scroll-item.border{
    background-color: transparent;
    color: #E64C4C;
}
#top .scroll-item.oval{
    border-radius: 30px;
}
#top .scroll-item.suare{
    border-radius: 4px;
}

#top .dot{
    color: #E64C4C;
    margin: 0 12px;
    font-size: 18px;
    font-weight: 600;
}
@keyframes scrollMove {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
/* ランダム煎餅 */
#top .senbei-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    z-index: 2
}
#top .senbei-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    padding: 0 1vw;
    box-sizing: border-box;
}
#top .senbei{
    width: calc(100% / 7 - 1vw);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}
#top .senbei::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-image: var(--front-img);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}
#top .senbei::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-image: var(--back-img);
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
#top .senbei.flip{
    transform: rotateY(180deg);
}
/* KAKISEN. */
#top .fv-text-area{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: transparent;
    z-index: 10;
    overflow: hidden;
}
#top .fv-title{
    font-size: clamp(3rem, 14.5vw, 20rem);
    color: #E64C4C;
    letter-spacing: 0.03em;
    line-height: 0.8;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transform: scale(0.98);
    overflow: hidden;
}
/* キャッチコピー */
#top .fv-section {
    position: relative;
    height: 80vh;
    transition: opacity 1s ease;
}
#top .catch-section{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#top .catch-bg {
    position: absolute;    
    inset: 0;                  
    background-image: url("../img/top-moyou-bg.png") ;
    background-size: cover;            
    background-position: center;     
    opacity: 0;                      
    transform: translateY(50px);     
    transition: all 1.5s ease;       
}
#top .catch-copy {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    gap: 10vw;
}
#top .catch-column{
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 32px;
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease;
}
#top .catch-column.right  { transition-delay: 0.4s; }
#top .catch-column.center { transition-delay: 0.9s; }
#top .catch-column.left   { transition-delay: 1.4s; }
#top .show-bg .catch-bg {
    opacity: 1;                    
    transform: translateY(0);
}
#top .show-text .catch-text {
    opacity: 1;                   
    transform: translateY(0);     
}
/* せんべい単体 */
#top .senbei-intro {
    margin: 10% 0;
}
#top .senbei-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
}
#top .senbei-text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 2;
}
#top .senbei-text.show {
    opacity: 1;
}
#top .senbei-text.text1 {
    top: -32px;  
    left: 10px;    
}
#top .senbei-text.text2 {
    top: -37px;   
    right: 10px;   
}
#top .senbei-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}
#top .senbei-bg.active {
    opacity: 1;
}
#top .senbei-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 3% 0;
}
#top .senbei-description h2 {
    margin: 15px 0;
    line-height: 1.8em;
    text-align: center;
}
#top .section-tile{
    width: 100%;
}
/* KAKISEN.について */
#top .about-area{
    width: 100%;
    overflow: hidden;
}
#top .about-text{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top .text-highlight{
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0 3px;
}
#top .about-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
#top .slide-track{
    display: flex;
    gap: 20px;
    animation: scrollSlide 40s linear infinite;
}
#top .slide-track img{
    width: 400px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}
@keyframes scrollSlide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}
/* PRODUCT */
#top .product-area{
    width: 100%;
}
/* 流れるおかき */
#top .product-loop{
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    margin-bottom: 4%;
}
#top .loop-track{
display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    animation: loopMove 20s linear infinite;
}
#top .loop-set{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
#top .text-o{
    color: #E64C4C;
}
#top .text-r{
    color: #FDC865;
    }
#top .text-question {
    color: #E64C4C;
}
#top .senbei-img, .okaki-img {
    width: 60px;
    height: auto;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
}
@keyframes loopMove {
0% {transform: translateX(0);}
100% {transform: translateX(-50%);}
}
#top .product-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top .product-kakisen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 7%;
}
#top .product-kakio{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 7%;
}
#top .product-intro{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top .product-intro p{
    text-align: left;
    margin: 8% 0 8% 2%;
}
#top .product-intro-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* STORE */
#top .ankerLink-section {
    margin-top: 13.02%;
    display: flex;
    justify-content: center;
}
#top .access-link.wrapper {
    width: 400px;
    background: url(../img/product-access-button.png) repeat;
    padding: 25px 0;
    margin: 0;
}
#top .shop-link.wrapper {
    background: url(../img/product-onlineShop-button.png);
    margin-left: 5.71%;
}
#top .access-link.wrapper .link-button {
    width: 350px;
    background-color: #FFF8F0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
}
#top .access-link.wrapper .link-button .button {
    text-align: center;
    margin-top: 40px;
    width: 238px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top .access-link.wrapper .link-button .button a {
    text-decoration: none;
    color: #FFF8F0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #E64C4C;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top .access-link.wrapper .link-button .button a:hover {
    background-color: #FDC865;
}
/* フッター */
.footer-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E64C4C;
    margin-top: 6.5%;
}
.footer-area img{
    margin: 3% 0;
}
.nav-footer{
    width: 100%;
    margin-bottom: 1%;
}
.nav-footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    
}
.nav-footer li{
    list-style: none;
    color:#2C2929;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.nav-footer ul a{
    text-decoration: none;
}
.nav-footer li:hover{
    color: #FDC865;
    transition: color 0.3s ease;
}
.footer-sub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.footer-sub p{
    font-size: 12px;
    margin-bottom:1%;
}
.footer-sub p:hover{
    color: #FDC865;
    transition: color 0.3s ease;
}
.copyright p{
    font-size: 12px;
    margin-bottom: 10px;
}
.footer-pattern{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.pattern-track{
    display: flex;
    animation: patternMove 40s linear infinite;
}
.pattern-track img{
    flex-shrink: 0;
}
@keyframes patternMove {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}

/* ABOUT */

/* ABOUT =====================================*/
/* ABOUT =====================================*/
#about h2{
    text-align: center;
}

#about h5{
    margin-top: 50px;
    text-align: center;
}

#about main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

#about .Sliders{
    margin: 0 auto;
    width: 900px;
}
/* 牡蠣が点灯する */
 #about .BGanime {
  text-align: center;
  margin: 120px auto 80px;
  background-repeat:no-repeat;
  width: 990px;  /* 横幅を990pxに指定 */
  animation: image_anime 2s ease infinite; /* 5秒のアニメーションを繰り返す */
}
@keyframes image_anime {
    
  0%{
    background-image: url(../img/about-bg0.png); /* 背景画像1を指定 */
  }
  50% {
    background-image: url(../img/about-bg1.png); /* 背景画像2を指定 */
  }
  80% {
    background-image: url(../img/about-bg2.png); /* 背景画像1を指定 */
  }
  100% {
    background-image: url(../img/about-bg3.png); /* 背景画像1を指定 */
  }
}

#about p{
    text-align: center;
}

/* 背景固定画像　切り替わる */
#about .switch-img{
    margin:0 auto ;
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
}

#about .switch-img img{
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}

.switch-img .item-first{
    animation: switch-img 5s infinite;
}

.switch-img .item-second{
    animation: switch-img 5s infinite reverse;
}

@keyframes switch-img {
    0%,49.999%{
        opacity: 0%;
    }
    50%,100%{
        opacity: 100%;
    }
}
/* 背景固定画像　切り替わる */
#about .about-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .slide-track{
    display: flex;
    gap: 20px;
    animation: scrollSlide 30s linear infinite;
}
#about .slide-track img{
    width: 800px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}
@keyframes scrollSlide {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50%);}
}

#about .title{
    text-align: center;
}

#about .section-1{
    display: FLEX;
    justify-content: center;
    overflow: hidden;
    height: auto;
    position: relative;
}


#about .content-area{
    margin: 10% 30%;
}

#about .flow-img down{
  display:flex;
  flex-direction: column;
  position: absolute;   
  width: 6.25%;
}

#about .flow-img.down{
    top: 0;
    left: 0;
}
 
#about .flow-img.up{
    top: 0;
    right: 0;
}



#about .flow-img.down img{
    animation: flow-down 7s infinite linear;
}

#about .flow-img.up img{
    animation: flow-down 7s infinite linear reverse;
}

@keyframes flow-down{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform:translateY(0%)
    }
}




/*=================================
            PRODUCT
=================================*/
#product main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

.header-tile {
    width: 100%;
    margin-bottom: 6.25%;
}

#product .title {
    margin-bottom: 5.21%;
}

#product .kakisen.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 4.17%;
}

#product .kakisen.wrapper .img-area {
    flex: 1;
    display: flex;
}

#product .kakisen.wrapper .img-area img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#product .kakisen.wrapper .content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#product .kakisen.wrapper .content-area h2 {
    text-align: center;
}

#product .kakisen.wrapper .content-area img {
    width: 100%;
}

#product .kakisen.wrapper .content-area h2,
#product .kakisen.wrapper .content-area h3,
#product .kakisen.wrapper .content-area p,
#product .kakisen.wrapper .content-area img:last-child {
    margin-top: 8.90%;
}

#product .list.wrapper {
    margin-top: 6.25%;
}

#product .list.wrapper .list-button ul {
    display: flex;
    list-style: none;
}

#product .list.wrapper .list-button ul li {
    flex: 1;
}

#product .list.wrapper .list-container {
    display: flex;
    justify-content: center;
}

#product .list.wrapper .list-container .item:nth-child(2n) {
    background-color: #FEECCF;
}

#product .list.wrapper .list-container .item h4 {
    color:#2C2929;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    border-bottom: 1px solid #2C2929;
    text-align: center;
    width: 100%;
    padding-bottom: 4.33%;
    margin-bottom: 6.67%; 
    line-height: 1em;
}

#product .list.wrapper .list-container .item {
    max-width: 300px;
    width: 100%;
    padding: 7.14% 2.08%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product .list.wrapper .list-container .item .img-area {
    margin-bottom: 33.33%;
}

#product .list.wrapper .list-container .item p {
    text-align: center
}

h5 {
    color:#2C2929;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

#product .list.wrapper .list-container .item .graph-outer {
    width: 100%;
    margin-top: 16.67%;
}

#product .list.wrapper .list-container .item .graph-outer .graph {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
;
    margin-top: 10.67%;
}

#product .graph .value {
    width: 18.33%;
    height: 2px;
    background-color: #E64C4C;
    position: relative;
}

#product .graph .value .circle {
    width: 15px; height: 15px;
    border-radius: 100px;
    background-color: #E64C4C;

    position: absolute;
    right: 0; top: 50%;
    transform: translate(50%, -50%); 
    z-index: 3;
}

#product .graph .value::before, #product .graph .value-1::after {
    content: "";
    position: absolute;
    background-color: #D9D9D9;
    z-index: -1;
}

#product .graph .value::before {
    right: 0; top: 50%;
    width: 1.5px; height: 9px;
    transform: translateY(-50%);
}

#product .graph .value-1::after {
    left: 0; top: 50%;
    width: 1.5px; height: 9px;
    transform: translateY(-50%);
}

#product .kakisen-list.wrapper .item.salt .aroma .value-4,
#product .kakisen-list.wrapper .item.salt .umami .value-4,
#product .kakisen-list.wrapper .item.butterHerb .aroma .value-3,
#product .kakisen-list.wrapper .item.butterHerb .aroma .value-4,
#product .kakisen-list.wrapper .item.butterHerb .sharp .value-3,
#product .kakisen-list.wrapper .item.butterHerb .sharp .value-4,
#product .kakisen-list.wrapper .item.spicyRed .umami .value-4,
#product .kakisen-list.wrapper .item.spicyRed .sharp .value-3,
#product .kakisen-list.wrapper .item.spicyRed .sharp .value-4,
#product .kakisen-list.wrapper .item.lemonPepper .aroma .value-3,
#product .kakisen-list.wrapper .item.lemonPepper .aroma .value-4,
#product .kakisen-list.wrapper .item.lemonPepper .umami .value-3,
#product .kakisen-list.wrapper .item.lemonPepper .umami .value-4,
#product .kakio-list.wrapper .item.salt .aroma .value-4,
#product .kakio-list.wrapper .item.salt .umami .value-4,
#product .kakio-list.wrapper .item.shoyu .sharp .value-3,
#product .kakio-list.wrapper .item.shoyu .sharp .value-4,
#product .kakio-list.wrapper .item.spicyRed .umami .value-4,
#product .kakio-list.wrapper .item.spicyRed .sharp .value-4,
#product .kakio-list.wrapper .item.spicyRed .sharp .value-3,
#product .kakio-list.wrapper .item.yuzuSalt .aroma .value-3,
#product .kakio-list.wrapper .item.yuzuSalt .aroma .value-4,
#product .kakio-list.wrapper .item.yuzuSalt .umami .value-4,
#product .kakio-list.wrapper .item.yuzuSalt .sharp .value-4 {
    background-color: #D9D9D9;
}

#product .kakio-section {
    margin-top: 13.02%;
}

#product .ankerLink-section {
    margin-top: 13.02%;
    display: flex;
    justify-content: center;
}

#product .access-link.wrapper {
    width: 400px;
    background: url(../img/product-access-button.png) repeat;
    padding: 25px 0;
    margin: 0;
}

#product .shop-link.wrapper {
    background: url(../img/product-onlineShop-button.png);
    margin-left: 5.71%;
}

#product .access-link.wrapper .link-button {
    width: 350px;
    background-color: #FFF8F0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
}

#product .access-link.wrapper .link-button .button {
    text-align: center;
    margin-top: 40px;
    width: 238px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .access-link.wrapper .link-button .button a {
    text-decoration: none;
    color: #FFF8F0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #E64C4C;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product .access-link.wrapper .link-button .button a:hover {
    background-color: #FDC865;
}

/*=================================
            ONLINE SHOP
=================================*/
#online .onlineShop.wrapper {
    max-width: 1400px;
    width: 100%;
    padding: 0 65px;
    position: relative;
}

#online .onlineShop .item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-bottom: 17.86%;
}

#online .onlineShop .item-list .item {
    display: flex;
    flex-direction: column;
    width: 264px;
}

#online .onlineShop .item-list .item a {
    text-decoration: none;
}

#online .onlineShop .item-list .item a:hover .img-area {
    transform: scale(1.1);
}

#online .onlineShop .item-list .item .img-area {
    width: 100%;
    transition: 0.3s;
}

#online .onlineShop .item-list .item .img-area img {
    width: 100%;
}

#online .onlineShop .item-list .item h4 {
    font-size: 24px;
    line-height: 1em;
    width: fit-content;
    margin-top: 7.58%;
    font-family: "Shippori Mincho", serif;
}

#online .onlineShop .item-list .item .contents {
    font-size: 12px;
    width: fit-content;
    margin-top: 3.41%;
}

#online .onlineShop .item-list .item .price {
    width: fit-content;
    margin-top: 3.41%;
}

#online .onlineShop .number-btn-outer {
    display: flex;
    align-items: center;
    gap: 14px;
}

#online .onlineShop .number-btn-outer p {
    line-height: 1em;
}

#online .minus, #online .plus {
    width: 22px;
    height: 22px;
    background-color: #FDC865;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
}

#online .minus:active, #online .plus:active {
    scale: 0.9;
}

#online .minus::after, #online .plus::after {
    content: "";
    position: absolute;
    left: 50%; top: 50%;
    width: 9px;
    height: 2px;
    background-color: #FFF8F0;
    transform: translate(-50%, -50%);
}

#online .plus::before {
    content: "";
    position: absolute;
    left: 50%; top: 50%;
    width: 2px;
    height: 9px;
    background-color: #FFF8F0;
    transform: translate(-50%, -50%);
}

#online .number-toCart-btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 9.85%;
    /* width: 100%; */
}

#online .toCart-btn-outer {
    width: 44px;
    height: 36px;
    background-color: #E64C4C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

#online .toCart-btn-outer:hover {
    width: 122px;
}

#online .toCart-btn-outer img {
    transition: 0.3s;
}

#online .toCart-btn-outer:hover img {
    transform: translateX(-70px);
}

#online .toCart-btn-outer::after {
    content: "カートへ";
    position: absolute;
    right: -10%; top: 50%;
    transform: translate(50%, -50%);
    color: #FFF8F0;
    opacity: 0;
    transition: 0.3s;
    text-wrap: nowrap;
}

#online .toCart-btn-outer:hover::after {
    opacity: 1;
    right: 50%;
}

#online .price-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 374px;
    height: 73px;
    background: url(../img/online-priceCard-ver.1.png) repeat;
    background-size: 8%;
    background-color: #FFF8F0;

    position: fixed;
    right: 2%; bottom: 6%;
    transition: 0.3s;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

#online .price-card-container:hover {
    background: url(../img/online-priceCard-hover-ver.1.png) repeat;
    background-size: 8%;
    background-color: #E64C4C;
}

#online .price-card-container .content-area p,
#online .price-card-container .content-area h1 {
    transition: 0.3s;
}

#online .price-card-container:hover .content-area p,
#online .price-card-container:hover .content-area h1 {
    color: #FFF8F0;
}

#online .price-card-container:hover .cart-number {
    border-color: #FFF8F0;
}

#online .price-card-container .cart-number {
    padding-right: 20px;
    border-right: 2px solid #2C2929;
    transition: 0.3s;
}

#online .price-card-container .cart-price {
    margin-left: 20px;
}

#online .price-card-container .content-area {
    display: flex;
    align-items: flex-end;
}

#online .price-card-container .content-area .label {
    margin-right: 20px;
}

#online .price-card-container .content-area h1 {
    line-height: 1em;
    margin-right: 10px;
}

/* ======================メディアクエリ =========================*/
@media(width<780px){
    #product .kakisen.wrapper {
        flex-direction: column;
    }

    #product .kakisen.wrapper .content-area h2 {
        text-wrap: nowrap;
    }

    #product .list.wrapper .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #online .onlineShop .item-list {
        gap: 20px;
    }

    #online .onlineShop .item-list .item {
        width: 110px;
    }

    #online .onlineShop .item-list .item h4 {
        font-size: 16px
    }

    #online .number-toCart-btn {
        display: none;
    }

    #online .toCart-btn-outer {
        margin-top: 10px
    }

    #online .price-card-container {
        display: none;
    }
}


/* ONLINE SHOP */

/* CSS Document */
/* フルードイメージ */
img{max-width: 100%;height:auto;}

/* 共通 */

/* 色番号 */
/* ベースカラー（ベージュ）：#FFF8F0
メインカラー（赤）：#E64C4C
アクセントカラー（黄）：#FDC865
文字色（黒）：#2C2929 */

/* フォント */
/* 日本語大見出し */
h1{
    color:#2C2929;
    font-family: "Shippori Mincho", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}
/* 日本語小見出し */
h2{
    color:#2C2929;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
/* 英語大見出し太字 */
h3{
    color:#2C2929;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}
/* 英語大見出し細字 */
h4{
    color:#2C2929;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}
/* 日本語本文 */
p{
    color:#2C2929;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
/* スクロール */
html {
  scroll-behavior: smooth;
}
/* 中央に揃える */
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFF8F0;
}
/* タイトル */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.78%;
    margin-bottom: 1.92%;
}
/* ボタン */
.kakisen-btn{
    width: 170px;
    /* height:; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E64C4C;
    /* border-radius: 100px; */
    padding: 6px;
    color: #FFF8F0;
}
.kakisen-btn p{
    color: #FFF8F0;
}
.kakisen-a{
    text-decoration: none;
}
.kakisen-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FDC865;
    position: relative;
    transition: 0.3s;
}
.kakisen-circle::after{
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    translate: -75% -50%;
    rotate: -135deg;
    width: 10px;
    height: 10px;
    border-bottom:3px solid #FFF8F0;
    border-left: 3px solid #FFF8F0;
}
.kakisen-a:hover .kakisen-circle{
    transform:translateX(30%) ;

}

/* 各ページ */
/* TOP */

/* ABOUT */

/* PRODUCT */

/* ONLINE SHOP */

/* ACCESS */



#access .line-deco{

    width: 100%;

    height: auto;

    margin-bottom: 3.5%; /* 次のセクションとの間隔 */

    display: block;

    margin-left: auto;

    margin-right: auto;

}



#access .legal-notation-page {

    width: 70%; /* ページのコンテンツ幅 */

    max-width: 960px; /* 必要に応じて最大幅を設定 */

    margin: 0 auto;

    padding-bottom: 5.2%; /* メインコンテンツ下の余白 */

}



#access .page-title h3{

    text-align: center;

    font-size: 32px; /* 画面幅に応じたサイズ */

    margin-bottom: 5.2%;

}



#access .page-title .title-icon {

    text-align: center;

    width: 2vw; /* アイコンのサイズ */

    height: auto;

}



/* --- Section 1: スライダーと基本情報 --- */



#access .store-info-section {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    margin-bottom: 5.21%;

}



/* 写真スライダー（左側） */

#access .photo-slider-wrapper {

    position: relative;

    width: 55%; /* カンプに合わせて左側の幅を広げる */

}



/* ★ 修正: Slickの動作を妨げる display: flex; と transition を削除 */

#access .photo-slider {

    /* display: flex; <- 削除 */

    overflow: hidden;

    width: 100%;

    /* transition: transform 0.5s ease-in-out; <- 削除 */

}



#access .slider-item img {

    display: block;

    width: 100%;

    height: auto;

}



/* ======================================================= */

/* ★ カスタムドットデザインのSlick要素への移植 */

/* 元の .slider-dots, .dot のCSSは削除し、以下のSlick用のCSSに置き換えます */

/* ======================================================= */



/* ドット全体のコンテナ（元の .slider-dots の位置を再現） */

#access .photo-slider-wrapper .slick-dots {

    /* slick-theme.css の設定を上書きして元の位置に移動 */

    bottom: 5%;

    left: 50%;

    transform: translateX(-50%);

   

    /* slick-theme.css の設定をリセット */

    margin: 0;

    padding: 0;

}



/* ドット一つ一つの要素の余白（元の .dot の margin を再現） */

#access .photo-slider-wrapper .slick-dots li {

    width: auto; /* サイズ指定を解除 */

    height: auto; /* サイズ指定を解除 */

    margin: 0 0.5%; /* 元の .dot の margin: 0 0.5%; を再現 */

    padding: 0;

}



/* ドット自体のデザイン（元の .dot の形と色を再現） */

#access .photo-slider-wrapper .slick-dots li button {

    /* slick-theme.css の padding: 5px; を上書きしてサイズを小さくする */

    padding: 0;

   

    /* ドットのサイズを元の 1.5% の意図に近い固定サイズで設定 */

    width: 10px;

    height: 10px;

   

    /* button要素のデフォルトスタイルをリセット */

    background: none;

    border: none;

}



#access .photo-slider-wrapper .slick-dots li button:before {

    content: ''; /* 矢印フォントを無効化 */

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

   

    /* サイズを再現 */

    display: block;

    width: 100%; /* 親要素の button に合わせる */

    height: 100%;

   

    /* スタイル */

    border-radius: 50%;

    background-color: #ccc; /* 非アクティブ時の色 */

   

    /* slick-theme.css の opacity を上書き */

    opacity: 1;

}



/* アクティブなドットの色 */

#access .photo-slider-wrapper .slick-dots li.slick-active button:before {

    background-color: #E64C4C; /* アクティブ時の色 */

}



/* ======================================================= */

/* カスタムドットデザインのSlick要素への移植 - ここまで */

/* ======================================================= */



/* 基本情報ブロック（右側） */

#access .basic-details {

    width: 40%; /* 右側の幅を調整 */

    position: relative;

    padding-top: 3%; /* イラストが上にはみ出るための調整 */

}



/* 親子のイラスト */

#access .illustration.parentandchild-move {

    position: absolute;

    width: 50%; /* イラストのサイズ調整 */

    top: -30%; /* 上に大きくはみ出す */

    right: 30%;

    z-index: 10;

    /* アニメーション適用 */

    animation: gentle-float 4s infinite alternate ease-in-out;

}



#access .details-box {

    padding: 5% 5%;

}



#access .store-name {

    font-size: 1.2em;

    font-weight: bold;

    margin-bottom: 5%;

}



/* 定義リスト（dl）の修正 */

#access .basic-details dl {

    overflow: hidden; /* float解除のため */

}

#access .basic-details dl dt {

    float: left;

    clear: left;

    width: 30%; /* 項目名の幅 */

    font-weight: bold;

    line-height: 1.6;

    padding: 5% 0;

}

#access .basic-details dl dd {

    margin-left: 30%; /* dtの幅に合わせる */

    line-height: 1.6;

    padding: 5% 0;

}



/* 装飾パターン */

#access .deco-pattern {

    text-align: center;

    margin-top: 5%;

}

#access .deco-pattern img {

    width: 20%; /* 装飾のサイズ調整 */

    height: auto;

    margin-left: 1%;

}



/* --- Section 2: 簡易地図とアクセス案内 --- */



#access .guidance-map-section {

    display: flex;

    flex-direction: row-reverse;

    justify-content: space-between;

    align-items: flex-start;

    margin-bottom: 5%;

}



/* 簡易地図（左側） */

#access .simple-map-wrapper {

    width: 48%; /* 左側の幅 */

    margin-top: 5.21%;

}

#access .simple-map-wrapper img {

    display: block;

    width: 100%;

}



/* 交通案内（右側） */

#access .transport-guidance {

    width: 48%; /* 右側の幅 */

    position: relative;

    padding-top: 5.21%;

}



/* 夫婦のイラスト */

#access .illustration.couple-move {

    position: absolute;

    width: 50%; /* イラストのサイズ調整 */

    top: -15%; /* 上に大きくはみ出す */

    left: 30%;

    z-index: 10;

    /* アニメーション適用 */

    animation: sway 4s infinite alternate ease-in-out;

}



#access .guidance-options {

    padding: 5% 5%;

}



#access .option {

    margin-bottom: 5%;

}

#access .option:last-child {

    margin-bottom: 0;

}



#access .title-transport {

    font-weight: bold;

    margin-bottom: 1%;

}



/* --- Section 3: Googleマップ埋め込み --- */



#access .google-map-section {

    margin-bottom: 5%;

}



#access .google-map-container {

    position: relative;

    padding-bottom: 40%; /* カンプに合わせて高さを調整 (100%幅で40%の高さ) */

    height: 0;

    overflow: hidden;

}



#access .google-map-container iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    border: none;

}





/* --- アニメーション定義（イラストの動き） --- */



/* 人形が軽く浮くようなアニメーション (親子に使用) */

@keyframes gentle-float {

    0% {

        transform: translateY(0) rotate(0deg);

    }

    100% {

        transform: translateY(-2%) rotate(5deg);

    }

}



@keyframes sway {

    0% {

        transform: translateY(0) rotate(0deg);

    }

    100% {

        transform: translateY(-2%) rotate(5deg);

    }

}



/* 個人情報保護方針 */

    ol li{

        font-weight: bold;

        margin: 2% 0 1% 0%;

    }



    ul li{

        font-weight: normal;

        margin: 0;

    }



#PP .header-blocks{

    background-image: url(../img/PP-line.png);

    background-repeat: repeat-x;

    width: 100%;

    height: 130px; /* 高さの調整 */

    margin-bottom: 3.125%; /* 下の余白 */

}



/* HELP涙涙涙 */

.privacy-policy{

 text-align: center;    

}



.test{

    background-image: url(../img/PP-line.png);

    background-repeat: repeat-x;

    width: 100%;

    height: 130px; /* 高さの調整 */

    margin-bottom: 3.125%; /* 下の余白 */

}



.main-paaage {

    width: 70%; /* ページのコンテンツ幅 */

    margin: 0 auto;

    padding-bottom: 5.2%; /* メインコンテンツ下の余白 */

}



.personal-information{

    margin: 80px 0 50px 0;

}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* 個人情報保護方針 */
    ol li{
        font-weight: bold;
        margin: 2% 0 1% 0%;
    }

    ul li{
        font-weight: normal;
        margin: 0;
    }

#PP .header-blocks{
    background-image: url(../img/PP-line.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 65px; /* 高さの調整 */
    margin-bottom: 3.125%; /* 下の余白 */
}

/* HELP涙涙涙 */
.privacy-policy{
 text-align: center;    
}

.test{ 
    background-image: url(../img/PP-line.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 40px; /* 高さの調整 */
    margin-bottom: 3.125%; /* 下の余白 */
}

.main-paaage {
    width: 70%; /* ページのコンテンツ幅 */
    margin: 0 auto;
    padding-bottom: 5.2%; /* メインコンテンツ下の余白 */
}

.personal-information{
    margin: 80px 0 50px 0;
}



/* 特定商取引法 */
#tokushoho .line-deco{
    width: 100%;
    height: 1.56%; /* 高さの調整 */
    margin-bottom: 3.125%; /* 下の余白 */
}

#tokushoho .legal-notation-page {
    width: 70%; /* ページのコンテンツ幅 */
    max-width: 960px; /* 必要に応じて最大幅を設定 */
    margin: 0 auto;
    padding-bottom: 5.2%; /* メインコンテンツ下の余白 */
}

/* ページタイトル */
#tokushoho .page-title {
    text-align: center;
    font-size: 2.29vw; /* 画面幅に応じたサイズ */
    margin-bottom: 5.2%;
}

/* ブロックタイトル（h2） */
#tokushoho .block-title {
    display: flex;
    align-items: center;
    font-size: 1.35vw; /* 画面幅に応じたサイズ */
    font-weight: 700; /* 太字 */
    color: #2C2929;
    margin: 1.52%; 
    padding-left: 0.52%; /* アイコンとテキストの間隔調整 */
}

#tokushoho .block-subtitle{
    display: flex;
    align-items: center;
    font-size: 1.35vw; /* 画面幅に応じたサイズ */
    font-weight: 700; /* 太字 */
    color: #2C2929;
    padding-left: 0.52%; /* アイコンとテキストの間隔調整 */

}

 .block-title .title-icon {
    width: 2vw; /* アイコンのサイズ */
    height: auto;
    margin-right: 0.52%; /* アイコンとテキストの間隔 */
}

.block-subtitle .subtitle-icon{
    width: 0.5vw; /* アイコンのサイズ */
    height: auto;
    margin-right: 0.75%; /* アイコンとテキストの間隔 */
}

/* 各情報のdlリスト */
#tokushoho .info-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2.6%;
}

/* 項目名 (dt) */
#tokushoho .info-list dt {
    width: 25%; /* 項目名の幅 */
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700; /* 太字 */
    color: #2C2929;
    font-size: 0.9375vw; /* 画面幅に応じたサイズ */
    padding: 0.78% 0;
    line-height: 1.6;
    vertical-align: top;
}

/* 内容 (dd) */
#tokushoho .info-list dd {
    width: 75%; /* 内容の幅 */
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #2C2929;
    font-size: 0.9375vw; /* 画面幅に応じたサイズ */
    padding: 0.78% 0;
    line-height: 1.6;
}

/* 店舗情報のリスト */
#tokushoho .store-data dt {
    width: 15%; /* 店舗情報部分はdtの幅を狭く */
}
#tokushoho .store-data dd {
    width: 85%;
}

/* 支払い方法のdd内のp */
#tokushoho .payment-data dd p {
    font-size: 0.9375vw; /* 画面幅に応じたサイズ */
    line-height: 1.6;
    margin: 0;
}

/* 区切り線 */
#tokushoho .notation-hr {
    border: none;
    border-top: 1px solid #C4C4C4; /* グレーの細い線 */
    margin: 3.125% 0; /* 上下の余白 */
}

/* 本文テキスト */
#tokushoho .content-text {
    font-size: 0.9375vw; /* 画面幅に応じたサイズ */
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 1.56%;
}

/* 不良品の取り扱い内のリスト */
 #tokushoho.sub-list {
    list-style: none;
    padding-left: 0.52%;
}
#tokushoho .sub-list li p {
    font-size: 0.9375vw;
    line-height: 1.6;
    margin: 0;
}

/* ブロックごとの余白調整 */
#tokushoho .notation-block {
    margin-bottom: 3.125%;
}

/* ======================メディアクエリ =========================*/
@media(width<780px){
    /* 各ページ */

/*=================================
            TOP
=================================*/
/* ヘッダー */
#pattern-bg {
    width: 30%;
    background-size: cover;
    background-position: left center;
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}
.nav-content li{
    color:#2C2929;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 3rem 0;
}
/* 流れる文字 */
#top .scroll-item{
    font-size: 12px;
    padding: 3px 8px;
    margin: 0 2px;
}
#top .dot{
    font-size: 14px;
    margin: 0 6px;
}
#top .scroll-wrapper{
    animation: scrollMove 20s linear infinite;
}
/* ランダム煎餅 */
#top .senbei-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
}
#top .senbei {
    width: 120px;
    height: 120px;
}
#top .senbei {
    transition: transform 1s ease;
}
/* KAKISEN. */
.fv-title {
    font-size: clamp(2.5rem, 12vw, 3rem);
    transform: scale(0.95) translateY(10%);
}
/* オンラインショップのボタンを消す？ */
/* キャッチコピー */
#top .catch-column.right  { transition-delay: 0.2s; }
#top .catch-column.center { transition-delay: 0.4s; }
#top .catch-column.left   { transition-delay: 0.6s; }

    /* ABOUT */

    /* PRODUCT */

    /* ONLINE SHOP */

    /* 個人情報保護方針 */
    ol {
	list-style-type: decimal;
}


    /* 特定商取引法 */ 
}